/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов 
на этом сайте нужно, чтобы в HTML некоторые классы 
были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-text__font-family);
  background-image: var(--background-image__gradient-vertical), var(--background-image__gradient-horizont), var(--background-image__gradient-linear);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: var(--main-block__width);
  height: var(--header__block-height);
  background-color: var(--main-block__background-color);
  font-family: var(--accent-text__font-family);
  text-transform: uppercase;
}

.header__title {
  font-size: var(--accent-text__title-font-size);
  
  line-height: 100%;
}

.header__subtitle {
  font-size: var(--accent-text__font-size);
  font-weight: var(--accent-text__font-weight);
}