/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    /*шрифт*/
    --accent-text__font-family: "Press Start 2P", sans-serif;
    --accent-text__font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
    --accent-text__title-font-size: clamp(3rem, 2.626rem + 1.596vw, 4.063rem);
    --accent-text__font-weight: 400;

    --main-text__font-family: "Inter", sans-serif;
    --main-text__font-size: 19px;
    --main-text__font-weight: 410;
    --main-text__title-font-weight: 715;

    --button-text-color: #fff;

    /*разметка общая*/
    --accent-color: #000000;
    --main-block__width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
    --main-block__background-color: #ffffff;
    --main-block__border: 2px solid var(--accent-color);
    /*разметка header*/
    --header__block-height: clamp(20.438rem, 19.535rem + 3.85vw, 23rem);
    --header__title-margin: clamp(7.5rem, 7.28rem + 0.939vw, 8.125rem);
    /*разметка контент*/
    --card-content__margin: 25px;
    /*градиент*/
    --background-image__gradient-vertical: repeating-linear-gradient(
        0deg,
        #d3d3d3 0,
        #d3d3d3 2px,
        rgba(211, 211, 211, 0) 2px,
        rgba(211, 211, 211, 0) 4px
    );
    --background-image__gradient-horizont: repeating-linear-gradient(
        90deg,
        #d3d3d3 0,
        #d3d3d3 2px,
        rgba(211, 211, 211, 0) 2px,
        rgba(211, 211, 211, 0) 4px
    );
    --background-image__gradient-linear: linear-gradient(
        to bottom,
        rgba(231, 231, 231, 0) 0.01%,
        #e7e7e7 0.01%,
        #1a1a1a
    );

    /*анимация сердца*/
    --contour-fill-color: var(--accent-color);
    --animation-fill-color: red;
}
